/*
 * This is the initial CSS file.
 * Feel free to modify it as you want.
 */
 body {
 	margin: 0;
 	padding: 0;
 }
 canvas {/*
 	width: 448px;
 	height: 512px;*/
 	background-color: blue;
 }
 #game {
    text-align: center;
 }